* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content1 {
    width:50%;
    height: 100vh;
    background:#00aced;
    display: block;
    float: left;
    position: relative;
}
.content2 {
    width: 50%;
    height: 100vh;
    background: #f1f1f1;
    display: block;
    float: left;
}
.blue {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}
p {
    padding: 15px;
    font-weight: bold;
    color: white;
    font-size: 17px;
}
.input {
    width: 550px;
    height:70px;
    display: block;
    margin: 20px auto;
}
.type {
    display: block;
    width: 200px;
    height: 40px;
    padding-left: 10px;
    float: left;
    margin-left: 10px;
}
.type:focus {
    border: 1px solid #00aced;
  }
.button {
    width: 55px;
    height: 40px;
    margin-left: 10px;
    border: 1px solid #00aced;
    border-radius: 100px;
    outline: none;
}
.forgot {
    font-size: 15px;
    text-decoration: underline;
    color: rgb(56, 54, 54.5);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -330px;
    margin-left: 330px;
}
.fa-twitter {
    font-size: 50px !important; 
    color: #00aced;
    margin-top: 50px;
    margin-left: 20px;
}
.sign {
    width: 350px;
    height: 500px;
    margin: 0 auto;
}
span {
    font-weight: bold;
    font-size: 17px;
    margin-left: 15px;
    display: block;
}
.twit {
    width: 380px;
    height: 80px;
    margin-top: 50px;
}
.butt {
    width: 350px;
    height: 40px;
    margin-left: 10px;
    border: 1px solid lightblue;
    border-radius: 100px;
    outline: none;
    line-height: 20px;
    text-align: center;
    margin: 10px;
}
.n2 {
    background: #00aced;
}
.button:active {
    background: lightblue;
}
.butt:active {
    background: lightblue;
}
